# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=REMIT_Coin
Comment=REMIT_Coin QT main network
GenericName=REMIT_Coin Digital Currency QT client main network
Exec=remita_coin-core.qt %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/remita_coin.png
MimeType=x-scheme-handler/remita_coin;
Categories=X-Office;X-Finance;
Keywords=internet;remita_coin;zremita;remita;core;wallet;qt;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=remita-qt.desktop
