# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=REMIT_Coin Daemon SNAP
Comment=main
GenericName=REMIT_Coin Digital Currency Daemon Client main network
Exec=remita_coin-core.daemon %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/remita_coin.png
MimeType=x-scheme-handler/remita;
Categories=X-Office;X-Finance;
Keywords=internet;remita_coin;zremita;core;wallet;daemon;main;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
Name[en_IN]=remitad.desktop
